<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<body>
		<div class="container">
			<table class="table text-center">
			  <thead>
			    <tr>
			      <th scope="col">NO</th>
			      <th scope="col">title</th>
			      <th scope="col">content</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="no : ${Jungah}">
					<td> [[${no.no}]]</td>
					<td>[[${no.title}]]</td>
 			      	<td>[[${no.content}]]</td>
					
			    </tr>
			  </tbody>
			</table>
			
		</div>
	</body>
</html>